<div class="container">
    <div class="row">
        <div class="col-md-6 m-auto mt-3">
            <h1 class="display-4 text-center mt-3">File Uploads</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 m-auto mt-3">
            <form action="http://localhost:8000/pic" method="POST" enctype="multipart/form-data">
                <div class="custom-file">
                    <input type="file" name="file" class="custom-file-input" id="validatedCustomFile" required>
                    <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                </div>
                <input type="submit" value="Upload" class="btn mt-3 btn-primary btn-block">
            </form>
        </div>
    </div>
    <div class="row">
        {{#each images}}
        <div class="col-md-3 p-3">
            <div class="card" style="">
                <img class="card-img-top" src={{this.url}} alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="/delete/{{this._id}}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

</div>